<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8" name="charset" content="" />
<meta name="" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta property="og:title" name="og:title" content="VICE | Australia / NZ | The Definitive Guide to Enlightening Information" />
<meta name="twitter:title" content="VICE | Australia / NZ | The Definitive Guide to Enlightening Information" />
<meta name="keywords" content="vice, vice.com, journalism online" />
<meta name="description" content="VICE.com is an ever-expanding galaxy of immersive, investigative, uncomfortable, and occasionally uncouth journalism." />
<meta property="og:description" name="og:description" content="VICE.com is an ever-expanding galaxy of immersive, investigative, uncomfortable, and occasionally uncouth journalism." />
<meta name="twitter:description" content="VICE.com is an ever-expanding galaxy of immersive, investigative, uncomfortable, and occasionally uncouth journalism." />
<meta property="og:url" name="og:url" content="http://www.vice.com/en_au/" />
<meta name="twitter:url" content="http://www.vice.com/en_au/" />
<meta name="twitter:card" content="summary" />
<meta property="og:type" name="og:type" content="website" />
<meta property="og:site_name" name="og:site_name" content="VICE" />
<meta name="twitter:site" content="@vice" />
<meta property="og:image" name="og:image" content="http://www.vice.com/assets/images/vice/og/og-image.jpg" />
<meta property="og:image:type" name="og:image:type" content="image/jpeg" />
<meta name="twitter:image" content="http://www.vice.com/assets/images/vice/og/og-image.jpg" />
<meta property="og:locale" name="og:locale" content="en_au" />
<meta property="fb:app_id" name="fb:app_id" content="203796769683945" />
<meta name="thumbnail" content="/assets/images/vice/og/og-image.jpg" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-square70x70logo" content="/assets/images/vice/favicons/mstile-70x70.png" />
<meta name="msapplication-TileImage" content="/assets/images/vice/favicons/mstile-144x144.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/vice/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/vice/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/vice/favicons/mstile-310x310.png" />
<link rel="alternate" type="application/rss+xml" href="http://www.vice.com/en_au/rss" />
<link rel="canonical" href="http://www.vice.com/en_au/" />
<link rel="stylesheet" href="/assets/css/vice/style.css?v20151215032055" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.ico" />
<link sizes="57x57" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-57x57.png" />
<link sizes="60x60" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-60x60.png" />
<link sizes="72x72" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-72x72.png" />
<link sizes="76x76" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-76x76.png" />
<link sizes="114x114" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-114x114.png" />
<link sizes="120x120" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-120x120.png" />
<link sizes="144x144" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-144x144.png" />
<link sizes="152x152" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-152x152.png" />
<link sizes="16x16" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-16x16.png" />
<link sizes="32x32" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-32x32.png" />
<link sizes="96x96" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-96x96.png" />
<link sizes="196x196" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-196x196.png" />
<link sizes="128x128" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-128.png" />
<script type="text/javascript" src="/assets/js/vmp/lib/modernizr-2.5.3.min.js" async="async"></script>
<script type="text/javascript" src="//advice-ads-cdn.vice.com/DE/viceIVW-CS.js" async="async"></script>
<script type="text/javascript">
/*<![CDATA[*/
//Begin Analytics Code
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-599058-49', 'auto', {'name' : 'tracker_1'});


ga('tracker_1.require', 'displayfeatures');

ga('tracker_1.send', 'pageview', {"page":"\/en_au\/"});


/*]]>*/
</script>
<title>VICE | Australia / NZ | The Definitive Guide to Enlightening Information</title>
</head>
<body class="site-page index-page  en_us">
	<section class="site-wrapper">
		<div id="viceHomeAd" data-src="v-vice"></div>
	<div class="vmp-ad ad-overlay" data-ref="overlay"></div>	<div class="ad-masthead">
		<div class="ad-masthead-inner">
			<div class="vmp-ad ad-masthead" data-ref="header"></div>		</div>
	</div>
<nav class="site-menu">
	<div class="search-container">
		<div class="site-icon search"></div>

		<form action="/search" method="GET" name="search">
			<input type="text" name="query" placeholder="Search..." />
		</form>
	</div>

	<ul class="parent-list">
		
<section class="items-container" id=""><li class="parent-item no-children" id="main-nav-heading-1">
	<a href="/en_au/videos">		Watch	</a></li>
	<ul class="child-list watch">
			</ul>
<li class="parent-item no-link" id="main-nav-heading-2">
			Sections	</li>
	<ul class="child-list sections">
		<li><a href="/en_au/news">News</a></li><li><a href="/en_au/music">Music</a></li><li><a href="/en_au/fashion">Fashion</a></li><li><a href="/en_au/travel">Travel</a></li><li><a href="/en_au/sports">Sports</a></li><li><a href="/en_au/tech">Tech</a></li><li><a href="/en_au/food">Food</a></li><li><a href="/en_au/gaming">Gaming</a></li><li><a href="/en_au/nsfw">Nsfw</a></li><li><a href="/en_au/dnd">Dos & Don'ts</a></li>	</ul>
<li class="parent-item no-children" id="main-nav-heading-3">
	<a href="/en_au/photos">		Photos	</a></li>
	<ul class="child-list photos">
			</ul>
<li class="parent-item no-children" id="main-nav-heading-4">
	<a href="/en_au/magazine">		Magazine	</a></li>
	<ul class="child-list magazine">
			</ul>
<li class="parent-item no-link" id="main-nav-heading-5">
			Topics	</li>
	<ul class="child-list topics">
		<li><a href="/en_au/tag/crime">Crime</a></li><li><a href="/en_au/tag/australia%2Fnz">Australia/NZ</a></li><li><a href="/en_au/tag/politics">Politics</a></li><li><a href="/en_au/tag/opinion">Opinion</a></li><li><a href="/en_au/tag/culture">Culture</a></li><li><a href="/en_au/tag/lgbt">LGBT</a></li>	</ul>
</section>

					<li class="parent-item">
				<a href="/en_au/pages/about" class="about-link">
					About				</a>
			</li>
				<ul class="child-list about">
		<li><a href="/en_au/pages/jobs">Jobs</a></li><li><a href="/en_au/pages/about">Contact</a></li><li><a href="/en_au/pages/about">Advertising</a></li><li><a href="/en_au/pages/about">Press Kit</a></li><li><a href="/en_au/pages/vbn">VBN</a></li><li><a href="/en_au/pages/privacy-and-terms">Privacy & Terms</a></li>				</ul>
	</ul>
</nav><section class="vice-network-bar">
	<section class="links">
		<div class="link-trigger">
			<a href="/en_au/pages/about">
				About			</a>
		</div>

		<ul>
			<li><a href="/en_au/pages/about">About Us</a></li><li><a href="/en_au/pages/jobs">Jobs</a></li><li><a href="/en_au/pages/about">Contact</a></li><li><a href="/en_au/pages/about">Advertising</a></li><li><a href="/en_au/pages/about">Press Kit</a></li><li><a href="/en_au/pages/vbn">VBN</a></li><li><a href="/en_au/pages/privacy-and-terms">Privacy & Terms</a></li>		</ul>
	</section>

	<span class="copyright">&copy;2015 VICE Media LLC</span>

	<p class="version"></p>

	<section class="locales">
		<div class="current-locale"></div>

		<ul></ul>
	</section>

	<section class="family">
		<h2 class="family-trigger">The <span class="icon-sprite">VICE</span> Channels</h2>

		<ul></ul>
	</section>
</section>

<header class="site-header main-header">
	<div class="site-header-inner">
		<button class="site-icon hamburger menu-non-rounded"></button>

		<div class="logo">
			<a href="/en_au/" title="VICE">
				<span></span>
			</a>
		</div>

		<div class="navigation-items-container">
			<nav class="navigation-items main-nav">
				
<ul class="items-container" id=""><li class="trigger main-nav-trigger watch" data-navigation-item-key="watch">
	<a href="/en_au/videos">		Watch	</a></li><!----><li class="trigger main-nav-trigger sections no-link" data-navigation-item-key="sections">
			Sections	</li><!----><li class="trigger main-nav-trigger photos" data-navigation-item-key="photos">
	<a href="/en_au/photos">		Photos	</a></li><!----><li class="trigger main-nav-trigger magazine no-dropdown" data-navigation-item-key="magazine">
	<a href="/en_au/magazine">		Magazine	</a></li></ul>
			</nav>

			<nav class="navigation-items more small-viewport">
									<ul class="items-container">
						<li class="trigger no-link" data-navigation-item-key="more/topics">
							<span class="small-viewport">
								Topics							</span>
							<span class="large-viewport">
								More							</span>
						</li>
					</ul>
							</nav>

			<nav class="navigation-items inline">
				
<ul class="items-container" id=""><li class="nav-title no-link">
	Topics:
</li><!--
--><li class="trigger inline-trigger crime" data-navigation-item-key="topics/crime">
	<a href="/en_au/tag/crime">		Crime	</a></li><!----><li class="trigger inline-trigger australia%2Fnz" data-navigation-item-key="topics/australia%2Fnz">
	<a href="/en_au/tag/australia%2Fnz">		Australia/NZ	</a></li><!----><li class="trigger inline-trigger politics" data-navigation-item-key="topics/politics">
	<a href="/en_au/tag/politics">		Politics	</a></li><!----><li class="trigger inline-trigger opinion" data-navigation-item-key="topics/opinion">
	<a href="/en_au/tag/opinion">		Opinion	</a></li><!----><li class="trigger inline-trigger culture" data-navigation-item-key="topics/culture">
	<a href="/en_au/tag/culture">		Culture	</a></li><!----><li class="trigger inline-trigger lgbt" data-navigation-item-key="topics/lgbt">
	<a href="/en_au/tag/lgbt">		LGBT	</a></li>
</ul>
			</nav>
		</div>

		<div class="social-icons">
			<ul>
				<li class="google-plus">
					<a class="site-icon google-plus-logo" href="https://plus.google.com/+VICE" target="_blank"></a>
				</li><!--
				--><li class="facebook">
					<a class="site-icon facebook-logo" href="https://www.facebook.com/Vice" target="_blank"></a>
				</li><!--
				--><li>
					<a class="site-icon twitter-logo" href="https://twitter.com/viceau" target="_blank"></a>
				</li><!--
				--><li class="tumblr">
					<a class="site-icon tumblr-logo" href="http://viceaustralia.tumblr.com/" target="_blank"></a>
				</li><!--
				--><li class="subscribe">
					<a class="site-icon email-envelope" href="http://stuff.viceaustralia.com/mailinglist/" target="_blank"></a>
				</li><!--
				--><li class="rss">
					<a class="site-icon rss-logo" href="/en_au/rss"></a>
				</li><!--
				--><li class="youtube">
					<a class="site-icon youtube-play" href="https://www.youtube.com/user/vice" target="_blank"></a>
				</li>
			</ul>
		</div>

		<div class="search-container">
			<button class="site-icon search" type="button"></button>
			<button class="site-icon cancel" type="button"></button>

			<div class="searchbox-container">
				<div class="gcse-searchbox-only" data-resultsUrl="/en_au/search" data-queryParameterName="query"></div>
			</div>
		</div>

		<nav class="navigation-items more large-viewport">
							<ul class="items-container">
					<li class="trigger no-link" data-navigation-item-key="more/topics">
						<span class="small-viewport">
							Topics						</span>
						<span class="large-viewport">
							More						</span>
					</li>
				</ul>
					</nav>
	</div>

	<div class="site-header-drop-downs">
		<div class="navigation-groups-container">
			<div class="navigation-group inline-group watch" data-navigation-item-key="watch">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group sub-navigation-group" data-navigation-item-key="sections">
	<div class="sub-navigation-items-container">
		
<ul class="items-container" id=""><li data-sub-navigation-item-key="sections/news">
	<a href="/en_au/news">		News	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/music">
	<a href="/en_au/music">		Music	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/fashion">
	<a href="/en_au/fashion">		Fashion	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/travel">
	<a href="/en_au/travel">		Travel	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/sports">
	<a href="/en_au/sports">		Sports	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/tech">
	<a href="/en_au/tech">		Tech	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/food">
	<a href="/en_au/food">		Food	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/gaming">
	<a href="/en_au/gaming">		Gaming	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/nsfw">
	<a href="/en_au/nsfw">		Nsfw	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/dos-and-donts">
	<a href="/en_au/dnd">		Dos & Don'ts	</a></li><!-- -->
</ul>
	</div>

	<div class="sub-navigation-items">
		
<div class="sub-navigation-group news" data-sub-navigation-item-key="sections/news">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group music" data-sub-navigation-item-key="sections/music">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group fashion" data-sub-navigation-item-key="sections/fashion">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group travel" data-sub-navigation-item-key="sections/travel">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group sports" data-sub-navigation-item-key="sections/sports">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group tech" data-sub-navigation-item-key="sections/tech">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group food" data-sub-navigation-item-key="sections/food">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group gaming" data-sub-navigation-item-key="sections/gaming">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group nsfw" data-sub-navigation-item-key="sections/nsfw">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group dos-and-donts" data-sub-navigation-item-key="sections/dos-and-donts">
	<div class="menu-items-container"></div>
</div>
	</div>
</div><div class="navigation-group inline-group photos" data-navigation-item-key="photos">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group crime" data-navigation-item-key="topics/crime">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group australia%2Fnz" data-navigation-item-key="topics/australia%2Fnz">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group politics" data-navigation-item-key="topics/politics">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group opinion" data-navigation-item-key="topics/opinion">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group culture" data-navigation-item-key="topics/culture">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group lgbt" data-navigation-item-key="topics/lgbt">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group sub-navigation-group" data-navigation-item-key="more/topics">
	<div class="sub-navigation-items-container">
		
<ul class="items-container" id=""><li data-sub-navigation-item-key="more/topics/crime">
	<a href="/en_au/tag/crime">		Crime	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/australia%2Fnz">
	<a href="/en_au/tag/australia%2Fnz">		Australia/NZ	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/politics">
	<a href="/en_au/tag/politics">		Politics	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/opinion">
	<a href="/en_au/tag/opinion">		Opinion	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/culture">
	<a href="/en_au/tag/culture">		Culture	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/lgbt">
	<a href="/en_au/tag/lgbt">		LGBT	</a></li><!-- -->
</ul>
	</div>

	<div class="sub-navigation-items">
		
<div class="sub-navigation-group crime" data-sub-navigation-item-key="more/topics/crime">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group australia%2Fnz" data-sub-navigation-item-key="more/topics/australia%2Fnz">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group politics" data-sub-navigation-item-key="more/topics/politics">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group opinion" data-sub-navigation-item-key="more/topics/opinion">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group culture" data-sub-navigation-item-key="more/topics/culture">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group lgbt" data-sub-navigation-item-key="more/topics/lgbt">
	<div class="menu-items-container"></div>
</div>
	</div>
</div><script type="text/template" id="nav-item-template">
	<% if(thumb_html) { %>
		<div class="image-container">
			<a href="<%= url %>">
				<% if(is_link_out){ %>
					<div class="link-out-container <%= link_out_class %>">
						<div class="site-logo"></div>
					</div>
				<% } %>

				<%= thumb_html %>

				<% if(media_type_id == 1 && video_duration_visual != false){ %>
					<div class="video-duration">
						<p><%= video_duration_visual %></p>
					</div>
				<% } %>
			</a>
		</div>
	<% } %>

	<div class="title-wrapper">
		<h2 class="item-title">
			<a href="<%= url %>">
				<%= text %>
			</a>
		</h2>
	</div>
</script>		</div>

		<div class="social-buttons-wrapper">
			<div class="social-buttons-container">
				<ul>
					<li class="google-plus">
						 <div class="g-follow" data-height="20" data-annotation="bubble" data-href="https://plus.google.com/+VICE"></div>
					</li><!--
					--><li class="facebook">
						<div id="fb-root"></div>
						<div class="fb-like" data-href="https://www.facebook.com/Vice" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					</li><!--
					--><li class="twitter">
						<a href="https://twitter.com/viceau" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @vice</a>
					</li><!--
					--><li class="tumblr">
						<iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="114" src="//platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=vice&color_scheme=dark"></iframe>
					</li><!--
					--><li class="subscribe">
						 <a href="http://stuff.viceaustralia.com/mailinglist/" target="_blank">
						 <span class="site-icon email-envelope">Subscribe</a>
					</li><!--
					--><li class="youtube">
						<div class="g-ytsubscribe" data-channel="vice" data-layout="default" data-count="default"></div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</header>
		<div class="site-content">
			<div class="page-container homepage-container">
			<section class="lede homepage-lede parallax-enabled accent-strip">
			<div class="lede-images image-container">
				<a href="http://www.vice.com/read/how-did-a-white-guy-from-boston-become-a-mob-boss-in-the-chinese-mafia-111">
					<img class="lede-image mobile" src="https://vice-images.vice.com/images/features/crops/2015/12/20/general-1450649672-crop_mobile.jpg?resize=*:*&output-quality=75" alt="The White Devil" />
					<img class="lede-image desktop" src="https://vice-images.vice.com/images/features/crops/2015/12/20/general-1450649672-crop_desktop.jpg?resize=*:*&output-quality=75" alt="The White Devil" />
					<img class="lede-image lede" src="https://vice-images.vice.com/images/features/crops/2015/12/20/general-1450649672-crop_lede.jpg?resize=*:*&output-quality=75" alt="The White Devil" />

									</a>
			</div>

			<div class="image-placeholder"></div>

			<div class="lede-information-wrapper information-wrapper">
				<a href="http://www.vice.com/read/how-did-a-white-guy-from-boston-become-a-mob-boss-in-the-chinese-mafia-111">
					<div class="lede-information information">
						<div class="information-inner">
							<div class="information-title">
								<h2>
									<span>The White Devil</span>
								</h2>

																	<p> How a White Guy From Boston Became a High Level Boss in the Chinese Mafia</p>
															</div>

							<p class="cta ">Read now</p>
						</div>
					</div>
				</a>
			</div>
		</section>
	
	<div class="page-inner-content homepage-inner-content">
		<div class="page-inner-wrapped-content homepage-inner-wrapped-content">
							<div class="list-widget homepage-todays-stories  grid-view" data-total-items="80" data-items-per-page="6" data-thread='vicetoday'>
	
<script type="text/template" id="grid-list-view-template">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="<%= publish_date %>">
			<%= display_date %>
		</span>

		<% if(is_link_out){ %>
			<a class="link-out-link" href="<%= url %>">
				<div class="link-out-container <%= link_out_class %>">
					<div class="site-logo"></div>
				</div>
			</a>
		<% }else if(model_series_is_branded){ %>
			<span class="item-category">
				Sponsored			</span>
		<% }else if(category){ %>
			<a href="<%= category.url %>" class="item-category <%= category.class %>">
				<%= category.title %>
			</a>
		<% } %>
	</div>

	<% if(thumb_html){ %>
		<div class="image-container">
			<a href="<%= url %>">
				<%= thumb_html %>

				<% if(media_type_id == 1 && video_duration_visual != false){ %>
					<div class="video-duration">
						<p><%= video_duration_visual %></p>
					</div>
				<% }else if(media_type_id == "0" && !is_photo_category){ %>
					<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
				<% } %>
			</a>
		</div>
	<% } %>

	<% if(is_photo_category){ %>
		<header class="item-header-wrapper">
			<div class="item-header-container">
				<div class="item-header">
					<div class="item-meta-information grid">
						<% if(contributor){ %>
							<span class="author">
								<%= contributor.byline %>
							</span>
						<% } %>
					</div>

					<h2 class="item-title">
						<a href="<%= url %>">
							<%= info.title %>
						</a>
					</h2>

					<div class="cta">
						<span class="site-icon icon-photo"></span>
					</div>
				</div>
			</div>
		</header>
	<% }else{ %>
		<div class="item-meta-information grid">
			<% if(contributor){ %>
				<span class="author">
					<%= contributor.byline %>
				</span>
			<% } %>
		</div>

		<h2 class="item-title">
			<a href="<%= url %>">
				<%= info.title %>
			</a>
		</h2>
	<% } %>

	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="<%= publish_date %>">
			<%= display_date %>
		</span>

		<% if(contributor){ %>
			<span class="author">
				<%= contributor.byline %>
			</span>
		<% } %>
	</div>

	<p class="item-description">
		<a href="<%= url %>">
			<%= excerpt %>
		</a>
	</p>
</script>
<section class="items-container" id=""><article class="item" data-model-id="191458">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<a class="link-out-link" href="http://motherboard.vice.com/read/the-un-agrees-to-keep-internet-open-and-free-for-the-next-10-years">
				<div class="link-out-container motherboard">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://motherboard.vice.com/read/the-un-agrees-to-keep-internet-open-and-free-for-the-next-10-years">
				<img src="https://vice-images.vice.com/images/articles/crops/2015/12/20/the-un-agrees-to-keep-internet-open-and-free-for-the-next-10-years-111-1450626032-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="The UN Agrees to Keep Internet Open and Free For the Next 10 Years" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Kari Paul				</span>
					</div>

		<h2 class="item-title">
			<a href="http://motherboard.vice.com/read/the-un-agrees-to-keep-internet-open-and-free-for-the-next-10-years">
				The UN Agrees to Keep Internet Open and Free For the Next 10 Years			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<span class="author">
				Kari Paul			</span>
			</div>

	<p class="item-description">
		<a href="http://motherboard.vice.com/read/the-un-agrees-to-keep-internet-open-and-free-for-the-next-10-years">
			After a week of high-level meetings, UN members came to a consensus decision on how to deploy the internet around the world in a fair and open way.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="190714">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<a href="/en_au/stuff" class="item-category category-stuff">
				Stuff			</a>
			</div>

			<div class="image-container">
			<a href="/en_au/read/the-year-in-geekdom-2015">
				<img src="https://vice-images.vice.com/images/articles/crops/2015/12/17/the-year-in-geekdom-2015-1450378128-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Why 2015 Was Another Good Year to Be a Geek" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/en_au/author/giaco-furino">Giaco Furino</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_au/read/the-year-in-geekdom-2015">
				Why 2015 Was Another Good Year to Be a Geek			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<span class="author">
				<a href="/en_au/author/giaco-furino">Giaco Furino</a>			</span>
			</div>

	<p class="item-description">
		<a href="/en_au/read/the-year-in-geekdom-2015">
			From Marvel's diverse new comics to the <i>Mystery Science Theater 3000</i> reboot, a look back at the best of 2015's geeky pop culture.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191459">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<a class="link-out-link" href="https://munchies.vice.com/videos/the-munchies-guide-to-berlin-fine-spirits-and-handcrafted-beer">
				<div class="link-out-container munchies">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="https://munchies.vice.com/videos/the-munchies-guide-to-berlin-fine-spirits-and-handcrafted-beer">
				<img src="https://vice-images.vice.com/images/articles/crops/2015/12/20/the-munchies-guide-to-berlin-fine-spirits-and-handcrafted-beer-111-1450626343-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="The MUNCHIES Guide to Berlin: Fine Spirits and Handcrafted Beer" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Munchies Staff				</span>
					</div>

		<h2 class="item-title">
			<a href="https://munchies.vice.com/videos/the-munchies-guide-to-berlin-fine-spirits-and-handcrafted-beer">
				The MUNCHIES Guide to Berlin: Fine Spirits and Handcrafted Beer			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<span class="author">
				Munchies Staff			</span>
			</div>

	<p class="item-description">
		<a href="https://munchies.vice.com/videos/the-munchies-guide-to-berlin-fine-spirits-and-handcrafted-beer">
			Berlin has a lot to offer for a drink-fueled night out. Munchies explores the diverse, late-night shop culture in the German city.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191456">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<a class="link-out-link" href="https://news.vice.com/article/air-france-flight-463-emergency-landing-kenya-explosive-device-in-toilet">
				<div class="link-out-container vice-news">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="https://news.vice.com/article/air-france-flight-463-emergency-landing-kenya-explosive-device-in-toilet">
				<img src="https://vice-images.vice.com/images/articles/crops/2015/12/20/air-france-flight-makes-emergency-landing-after-suspected-bomb-found-in-toilet-111-1450624967-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Air France CEO Says Suspected &#039;Explosive Device&#039; in Plane&#039;s Toilet Was a Hoax" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					VICE News				</span>
					</div>

		<h2 class="item-title">
			<a href="https://news.vice.com/article/air-france-flight-463-emergency-landing-kenya-explosive-device-in-toilet">
				Air France CEO Says Suspected 'Explosive Device' in Plane's Toilet Was a Hoax			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<span class="author">
				VICE News			</span>
			</div>

	<p class="item-description">
		<a href="https://news.vice.com/article/air-france-flight-463-emergency-landing-kenya-explosive-device-in-toilet">
			The head of Air France says a suspicious object that forced a plane coming from Mauritius to make an emergency landing in Kenya "did not contain explosives."		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191193">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<a href="/en_au/stuff" class="item-category category-stuff">
				Stuff			</a>
			</div>

			<div class="image-container">
			<a href="/en_au/read/art-in-the-time-of-gentrification-can-nycs-culture-be-saved-from-its-economy-111">
				<img src="https://vice-images.vice.com/images/articles/crops/2015/12/17/art-in-the-time-of-gentrification-can-nycs-culture-be-saved-from-its-economy-111-1450385455-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Art in the Time of Gentrification: Can NYC&#039;s Culture be Saved from Its Economy?" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/en_au/author/peter-moskowitz">Peter Moskowitz</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_au/read/art-in-the-time-of-gentrification-can-nycs-culture-be-saved-from-its-economy-111">
				Art in the Time of Gentrification: Can NYC's Culture be Saved from Its Economy?			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<span class="author">
				<a href="/en_au/author/peter-moskowitz">Peter Moskowitz</a>			</span>
			</div>

	<p class="item-description">
		<a href="/en_au/read/art-in-the-time-of-gentrification-can-nycs-culture-be-saved-from-its-economy-111">
			Last week, MoMA PS1 held a a panel discussion about art and gentrification. To figure out exactly how gentrification is affecting culture in New York City, we spoke with three experts about the issue.		</a>
	</p>
</article><!-- --><article class="item item-featured" data-model-id="191461">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<a class="link-out-link" href="http://i-d.vice.com/en_us/article/clementine-schneidermann-finds-beauty-in-europes-bleakest-towns">
				<div class="link-out-container i-d">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://i-d.vice.com/en_us/article/clementine-schneidermann-finds-beauty-in-europes-bleakest-towns">
				<img src="https://vice-images.vice.com/images/articles/crops/2015/12/20/clementine-schneidermann-finds-beauty-in-europes-bleakest-towns-111-1450629222-crop_photo.jpg?resize=*:*&amp;output-quality=75" alt="Finding Beauty in Europe&#039;s Bleakest Towns" />
							</a>
		</div>
	
			<header class="item-header-wrapper">
			<div class="item-header-container">
				<div class="item-header">
					<div class="item-meta-information grid">
													<span class="author">
								Alice Newell-Hanson							</span>
											</div>

					<h2 class="item-title">
						<a href="http://i-d.vice.com/en_us/article/clementine-schneidermann-finds-beauty-in-europes-bleakest-towns">
							Finding Beauty in Europe's Bleakest Towns						</a>
					</h2>

					<div class="cta">
						<span class="site-icon icon-photo"></span>
					</div>
				</div>
			</div>
		</header>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<span class="author">
				Alice Newell-Hanson			</span>
			</div>

	<p class="item-description">
		<a href="http://i-d.vice.com/en_us/article/clementine-schneidermann-finds-beauty-in-europes-bleakest-towns">
			The 24-year-old photographer Clementine Schneidermann shoots carnivals, festivals, and holiday parades in some of the least festive-looking places throughout the EU.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191477">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<a class="link-out-link" href="http://noisey.vice.com/en_au/blog/the-feel-good-christmas-movie-of-the-year-features-close-ups-of-shane-macgowans-dental-surgery">
				<div class="link-out-container noisey">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://noisey.vice.com/en_au/blog/the-feel-good-christmas-movie-of-the-year-features-close-ups-of-shane-macgowans-dental-surgery">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2015/12/20/the-feel-good-christmas-movie-of-the-year-features-close-ups-of-shane-macgowans-dental-surgery-r-1450651859-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="The Feel Good Christmas Movie of the Year Features Close Ups of Shane MacGowan’s Dental Surgery" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2015/12/20/the-feel-good-christmas-movie-of-the-year-features-close-ups-of-shane-macgowans-dental-surgery-r-1450651859-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="The Feel Good Christmas Movie of the Year Features Close Ups of Shane MacGowan’s Dental Surgery" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					NOISEY Staff				</span>
					</div>

		<h2 class="item-title">
			<a href="http://noisey.vice.com/en_au/blog/the-feel-good-christmas-movie-of-the-year-features-close-ups-of-shane-macgowans-dental-surgery">
				The Feel Good Christmas Movie of the Year Features Close Ups of Shane MacGowan’s Dental Surgery			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<span class="author">
				NOISEY Staff			</span>
			</div>

	<p class="item-description">
		<a href="http://noisey.vice.com/en_au/blog/the-feel-good-christmas-movie-of-the-year-features-close-ups-of-shane-macgowans-dental-surgery">
			A documentary that charts the restoration of the Pogues' frontman's teeth also sheds light on the wild lifestyle that contributed to his unmistakable smile.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191125">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-19">
			Dec 20, 2015		</span>

					<a href="/en_au/film" class="item-category category-film">
				Film			</a>
			</div>

			<div class="image-container">
			<a href="/en_au/read/maggie-lees-mommy-is-a-devastating-nuanced-documentary-about-losing-your-parents-111">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2015/12/17/maggie-lees-mommy-1450365850-crop_mobile_400.jpeg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Maggie Lee&amp;#39;s &amp;#39;Mommy&amp;#39; Is a Devastating, Nuanced Documentary About Losing Your Parents" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2015/12/17/maggie-lees-mommy-1450365850-crop_mobile_400.jpeg?resize=*:*&amp;output-quality=75" alt="Maggie Lee&amp;#39;s &amp;#39;Mommy&amp;#39; Is a Devastating, Nuanced Documentary About Losing Your Parents" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/en_au/author/whitney-mallett">Whitney Mallett</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_au/read/maggie-lees-mommy-is-a-devastating-nuanced-documentary-about-losing-your-parents-111">
				Maggie Lee's 'Mommy' Is a Devastating, Nuanced Documentary About Losing Your Parents			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-19">
			Dec 20, 2015		</span>

					<span class="author">
				<a href="/en_au/author/whitney-mallett">Whitney Mallett</a>			</span>
			</div>

	<p class="item-description">
		<a href="/en_au/read/maggie-lees-mommy-is-a-devastating-nuanced-documentary-about-losing-your-parents-111">
			<i>Mommy</i> chronicles a return to Lee's childhood home in New Jersey in the wake of her mother's unexpected death. It's a collage of home videos, grief, cell phone videos, suburban memories, Kumon classes, stuffed animals, and GeoCities aesthetics.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191425">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-18">
			Dec 19, 2015		</span>

					<a class="link-out-link" href="http://broadly.vice.com/en_us/article/meet-the-people-pretending-to-be-celebrities-on-social-media">
				<div class="link-out-container broadly">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://broadly.vice.com/en_us/article/meet-the-people-pretending-to-be-celebrities-on-social-media">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2015/12/18/meet-the-people-pretending-to-be-celebrities-on-social-media-274-1450477366-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Meet the People Pretending to Be Celebrities on Social Media" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2015/12/18/meet-the-people-pretending-to-be-celebrities-on-social-media-274-1450477366-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Meet the People Pretending to Be Celebrities on Social Media" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Rosie Gizauskas				</span>
					</div>

		<h2 class="item-title">
			<a href="http://broadly.vice.com/en_us/article/meet-the-people-pretending-to-be-celebrities-on-social-media">
				Meet the People Pretending to Be Celebrities on Social Media			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-18">
			Dec 19, 2015		</span>

					<span class="author">
				Rosie Gizauskas			</span>
			</div>

	<p class="item-description">
		<a href="http://broadly.vice.com/en_us/article/meet-the-people-pretending-to-be-celebrities-on-social-media">
			Twitter and Instagram are littered with fake A-lister accounts. We asked two Twitter impersonators why they were driven to create bogus social media profiles.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191402">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-18">
			Dec 19, 2015		</span>

					<a class="link-out-link" href="http://news.vice.com/article/how-volunteers-from-all-over-the-world-have-transformed-the-refugee-crisis-on-lesbos">
				<div class="link-out-container vice-news">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://news.vice.com/article/how-volunteers-from-all-over-the-world-have-transformed-the-refugee-crisis-on-lesbos">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2015/12/18/how-volunteers-from-all-over-the-world-have-transformed-the-refugee-crisis-on-lesbos-482-1450469935-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="How Volunteers from All Over the World Have Transformed the Refugee Crisis on Lesbos" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2015/12/18/how-volunteers-from-all-over-the-world-have-transformed-the-refugee-crisis-on-lesbos-482-1450469935-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="How Volunteers from All Over the World Have Transformed the Refugee Crisis on Lesbos" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Andrew Connelly				</span>
					</div>

		<h2 class="item-title">
			<a href="http://news.vice.com/article/how-volunteers-from-all-over-the-world-have-transformed-the-refugee-crisis-on-lesbos">
				How Volunteers from All Over the World Have Transformed the Refugee Crisis on Lesbos			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-18">
			Dec 19, 2015		</span>

					<span class="author">
				Andrew Connelly			</span>
			</div>

	<p class="item-description">
		<a href="http://news.vice.com/article/how-volunteers-from-all-over-the-world-have-transformed-the-refugee-crisis-on-lesbos">
			We went to the Greek island of Lesbos to meet the hordes of people from all over the world who have gone to try to help after being horrified by what they were seeing on the news.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191412">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<a href="/en_au/comics" class="item-category category-comics">
				Comics			</a>
			</div>

			<div class="image-container">
			<a href="/en_au/read/the-patio-is-under-siege-in-todays-ruby-comic-111">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2015/12/18/ruby-comic-1450473517-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="The Patio Is Under Siege in Today&amp;#39;s &amp;#39;Ruby&amp;#39; Comic" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2015/12/18/ruby-comic-1450473517-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="The Patio Is Under Siege in Today&amp;#39;s &amp;#39;Ruby&amp;#39; Comic" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Alexander Robyn				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_au/read/the-patio-is-under-siege-in-todays-ruby-comic-111">
				The Patio Is Under Siege in Today's 'Ruby' Comic			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-20">
			Dec 21, 2015		</span>

					<span class="author">
				Alexander Robyn			</span>
			</div>

	<p class="item-description">
		<a href="/en_au/read/the-patio-is-under-siege-in-todays-ruby-comic-111">
			Enter artist Alexander Robyn's fantasy dreamscape and hide from invaders with rock guns.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="191428">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2015-12-18">
			Dec 19, 2015		</span>

					<a href="/en_au/news" class="item-category category-news">
				News			</a>
			</div>

			<div class="image-container">
			<a href="/en_au/read/obama-shortened-the-sentences-of-95-prisoners-today-vgtrn-265">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2015/12/18/obama-shortened-the-sentences-of-95-prisoners-today-vgtrn-265-1450480809-crop_mobile_400.png?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Obama Shortened the Sentences of 95 Prisoners Today" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2015/12/18/obama-shortened-the-sentences-of-95-prisoners-today-vgtrn-265-1450480809-crop_mobile_400.png?resize=*:*&amp;output-quality=75" alt="Obama Shortened the Sentences of 95 Prisoners Today" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/en_au/author/vice">VICE Staff</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_au/read/obama-shortened-the-sentences-of-95-prisoners-today-vgtrn-265">
				Obama Shortened the Sentences of 95 Prisoners Today			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2015-12-18">
			Dec 19, 2015		</span>

					<span class="author">
				<a href="/en_au/author/vice">VICE Staff</a>			</span>
			</div>

	<p class="item-description">
		<a href="/en_au/read/obama-shortened-the-sentences-of-95-prisoners-today-vgtrn-265">
			Most of them are serving time for nonviolent drug offenses.		</a>
	</p>
</article><!-- --></section>

	<div class="more-button">
		<p>
			<a href="/en_au/articles">
				More			</a>
		</p>
	</div>
</div>

	<script type="text/template" id="todays-stories-ad-template">
		<div class="vmp-ad ad-articles-list" data-ref="large_in_content"></div>	</script>

	<script type="text/template" id="todays-stories-billboard-ad-template">
		<div class="vmp-ad ad-articles-list" data-ref="homepage_super_billboard"></div>	</script>

					</div>
	</div>
</div>
		</div>

		<footer class="site-footer">
	<ul>
		<li>&copy;2015 VICE Media LLC </li>
	</ul>
</footer>	</section>

	<script type="text/javascript">
/*<![CDATA[*/
window.vmp_ad_config = {
 ad_slots : {},
 ad_targetting_sizes : {},
 config : {
  adunit : "vice.com/homepage",
  targeting : {
   aid : "homepage",
   atype : "homepage",
   country : "en_au"
  }
 }
};
/*]]>*/
</script><script type="text/javascript">
/*<![CDATA[*/
var SYSTEM_PREFIX = 'vmp', SITE_PREFIX = 'vice', SITE_LOCALE ='en_au';
//Socials
var SITE_SOCIALS = {'social_google_plus' : 'https://plus.google.com/+VICE',
'social_facebook' : 'Vice',
'social_tumblr' : 'http://viceaustralia.tumblr.com/',
'social_youtube' : 'vice',
'social_twitter' : 'viceau',
'social_instagram' : 'vice'};

//Total analytics accounts
var TOTAL_ANALYTICS_ACCOUNTS = 1;

//Begin Chartbeat Code
var _sf_async_config={};
//CONFIGURATION START
_sf_async_config['uid'] = 8233;
_sf_async_config['domain'] = 'vice.com';
_sf_async_config['videoType'] = 'ooyala';
_sf_async_config['sections'] = 'en_us';
_sf_async_config['type'] = 'index';

//CONFIGURATION END
(function(){
function loadChartbeat(){
window._sf_endpt=(new Date()).getTime();
var e = document.createElement('script');
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src', (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') + 'js/chartbeat_pub.js');
document.body.appendChild(e);
e = document.createElement('script'); 
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src', '//static.chartbeat.com/js/chartbeat_video.js');
document.body.appendChild(e);
}
var oldonload = window.onload;
window.onload = (typeof window.onload != 'function') ? loadChartbeat : function(){ oldonload(); loadChartbeat(); };
})();

</script><!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-6EzWtvBV9sFU3"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-6EzWtvBV9sFU3.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->

<!-- BEGIN Krux Control Tag for "Vice.com" -->

<!-- Source: /snippet/controltag?confid=JLmLD3_1&site=VICE.com&edit=1 -->
<script class="kxct" data-id="JLmLD3_1" data-timing="async" data-version="1.9" type="text/javascript">
  window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
  (function(){
    var k=document.createElement('script');k.type='text/javascript';k.async=true;
    var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
    k.src = /^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" :
      (location.protocol==="https:"?"https:":"http:")+"//cdn.krxd.net/controltag?confid=JLmLD3_1"
  ;
    var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);
  }());
  
</script>
<script>
	window.Krux||((Krux=function(){Krux.q.push(arguments);}).q=[]);
	(function(){
	 function retrieve(n){
	var m, k='kx'+n;
	if(window.localStorage){
	   return window.localStorage[k] || "";
	}else if(navigator.cookieEnabled){
	   m = document.cookie.match(k+'=([^;]*)');
	   return (m && unescape(m[1])) || "";
	}else{
	   return '';
	}
	}
	 Krux.user = retrieve('user');
	 Krux.segments = retrieve('segs') && retrieve('segs').split(',') || [];
	})();
</script>
<!-- END Krux Controltag -->

<!-- Start Comscore -->
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<script>
		var _comscore = _comscore || [];
		_comscore.push({ c1: "2", c2: "8568956" });
		(function() {
		var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
		s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
				el.parentNode.insertBefore(s, el);
		})();
	</script>
	<noscript>
		<img src="http://b.scorecardresearch.com/p?c1=2&c2=8568956&cv=2.0&cj=1" />
	</noscript>
<!-- End Comscore -->

<!-- Start Alexa Certify Javascript -->
	<script type="text/javascript">
	_atrk_opts = { atrk_acct:"x5HVh1aUXR00Gi", domain:"vice.com",dynamic: true};
	(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
	</script>
	<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=x5HVh1aUXR00Gi" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<!-- Start Compete XL -->
	<script type="text/javascript">
	    __compete_code = 'c79a03b00361f17867f62f423817279a';
	    /* Set control variables below this line. */
	</script>
	<script type="text/javascript" src="//c.compete.com/bootstrap/s/c79a03b00361f17867f62f423817279a/vice-com/bootstrap.js"></script>
	<noscript>
	   <img width="1" height="1" src="https://ssl-vice-com-c79a03.c-col.com"/>
	</noscript>
<!-- End Compete XL -->

<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5FBQQG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5FBQQG');</script>
<!-- End Google Tag Manager -->

<!-- START Nielsen Online SiteCensus V6.0 -->
<!-- COPYRIGHT 2012 Nielsen Online -->
<script type="text/javascript" src="//secure-au.imrworldwide.com/v60.js">
</script>
<script type="text/javascript">
 var pvar = { cid: "au-vice", content: "0", server: "secure-au" };
 var trac = nol_t(pvar);
 trac.record().post();
</script>
<noscript>
 <div>
 <img src="//secure-au.imrworldwide.com/cgi-bin/m?ci=au-vice&cg=0&cc=1&ts=noscript"
 width="1" height="1" alt="" />
 </div>
</noscript>
<!-- END Nielsen Online SiteCensus V6.0 -->

<!--Austrian OEWA Tracker-->
<script type="text/javascript" src="https://vice-ads-cdn.vice.com/AT_CH/OEWA/oewa_pixel.js" async="async"></script>
<!--End Austrian OEWA Tracker--><script>
//Google Custom Search Engine
var GOOGLE_CUSTOM_SEARCH_ENGINE_ID = '014486740869999609936:abaaqjan_bs';

//Available locales
var AVAILABLE_LOCALES = [
{"link":"\/en_au","label":"Australia \/ NZ"},
{"link":"\/be","label":"Belgium"},
{"link":"\/pt_br","label":"Brasil"},
{"link":"\/en_ca","label":"Canada"},
{"link":"\/cs","label":"\u010cesko\/Slovensko"},
{"link":"http:\/\/www.vice.cn","label":"\u4e2d\u56fd"},
{"link":"\/es_co","label":"Colombia"},
{"link":"\/en_dk","label":"Denmark"},
{"link":"\/de","label":"Deutschland"},
{"link":"\/es","label":"Espa\u00f1a"},
{"link":"\/fr","label":"France"},
{"link":"\/gr","label":"Greece"},
{"link":"\/it","label":"Italia"},
{"link":"http:\/\/jp.vice.com","label":"Japan"},
{"link":"\/es_mx","label":"M\u00e9xico"},
{"link":"\/nl","label":"Nederland"},
{"link":"\/en_se","label":"Sweden"},
{"link":"\/alps","label":"\u00d6sterreich\/Schweiz"},
{"link":"\/pl","label":"Polska"},
{"link":"\/pt","label":"Portugal"},
{"link":"\/ro","label":"Romania"},
{"link":"\/ru","label":"\u0420\u043e\u0441\u0441\u0438\u044f"},
{"link":"\/rs","label":"Srbija"},
{"link":"\/en_uk","label":"United Kingdom"},
{"link":"\/en_us","label":"United States"}
];
var CURRENT_LOCALE = 'en_au';
var MOMENT_LOCALE = 'en-au';
var CURRENT_LANGUAGE = 'en';

/*]]>*/
</script>
<script type="text/javascript" src="/assets/js/vmp/lib/require.min.js?v20151215032055" id="vmp-require-js" data-main="/assets/js/vmp/system/require.config.js?v20151215032055" data-config-extension="/assets/js/vice/configs/vice.config.js?v20151215032055" data-main-script="/assets/js/vice/site/index.js" data-asset-version="v20151215032055" async="async"></script>
</body>
</html>